body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.selectedMove {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
ul li {
    padding: 2px;
}
ul li button {
    min-width: 120px;
    border: 2px solid darkgray;
}
ul li span {
    display: inline-block;
    min-width: 64px;
}

.square.victoryCell {
    border: 2px ridge red;
}
.buttonIcon span {
    padding-right: 10px;
    color: darkgreen;
}
.buttonIcon {
    margin-right: 40px;
    width: 64px;
    min-width: 64px;
}
